.App {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: black;
  width: 500px;
  height: 800px;
  margin: auto;
  margin-top: 50px;
  width: 210mm;
  height: 297mm;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 16px;
  line-height: 5;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-decoration: underline;
  margin-left: 20px;
  font-weight: bold;
}

.columns-container {
  display: flex;
  justify-content: space-between; /* Adjust space between columns */
  margin-top: 10px;
  font-size: 16px;
  line-height: 5;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-decoration: underline;
  margin-left: 20px;
  font-weight: bold; /* Adjust spacing from the title */
}

.column {
  flex: 1; /* Each column takes equal space */
  margin: 0 10px; /* Adjust spacing between columns */
  /* Add more styles as required */
}

.menu {
  width: 230mm;
  height: 297mm;
  margin-top: 100px;
}

td {
  line-height: 2;
  word-spacing: 5px;
}

.data {
  height: 25px;
  max-width: 200px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  gap: 2;
}

p {
  margin: 5px;
}

@media print {

  .first-page {
    display: none; /* Hide first page content */
  }
  .App {
    visibility: hidden;
  }
  .menu {
    visibility: visible;
  }
  .menu {
    display: block; /* Ensure menu is visible */
    width: 210mm;
    height: 297mm;
    page-break-before: always;
  }
}

@page {
  margin: 0;
  @top-left {
    content: none; /* Hide top-left content (usually URL) */
  }
  @top-center {
    content: none; /* Hide top-center content (usually title) */
  }
  @top-right {
    content: none; /* Hide top-right content (if needed) */
  }
  @bottom-left {
    content: none; /* Hide bottom-left content (page numbers) */
  }
  @bottom-center {
    content: none; /* Hide bottom-center content (page numbers) */
  }
  @bottom-right {
    content: none; /* Hide bottom-right content (page numbers) */
  }
}
